.gradle/
.idea/
build/
out/
run/
run-server/
/bin/main/assets/goldenbat/textures/item/tool/tool_golden_bat.png
/bin/main/lang/goldenbat/en_US.lang
/bin/main/redart15/goldenbat/items/tools/ItemBat.class
/bin/main/redart15/goldenbat/items/tools/ItemGoldenBat.class
/bin/main/redart15/goldenbat/items/tools/Smashables.class
/bin/main/redart15/goldenbat/items/GoldenBatItems.class
/bin/main/redart15/goldenbat/mixin/BlockLogicMixin.class
/bin/main/redart15/goldenbat/mixin/KnockBackMixin.class
/bin/main/redart15/goldenbat/mixin/LabyrinthLootMixin.class
/bin/main/redart15/goldenbat/GoldenBat.class
/bin/main/redart15/goldenbat/GoldenBatModels.class
/bin/main/fabric.mod.json
/bin/main/goldenbat.mixins.json
/bin/main/icon.png
